<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DbConnectionString"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.;initial catalog=IPAddressMapping;integrated security=True;"/>
  </connectionStrings>
<appSettings>
  <add key="BatchSize" value="5000"/>
</appSettings>
</configuration>